@media screen and (max-width:700px){
     header{
        background-color: rgb(102, 102, 153);
    }
    .blocPartie{
            margin: 25px;
            padding: 20px;
            background-color: rgba(204, 0, 255,0.3);
    }
    p{
        font-size: large;
        background-color: rgba(204, 255, 255, 0.3);
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer{
            background-color: rgb(102, 102, 153);
        }

}


#nav-wrapper{
    display: flex;
}
/*
footer{
    flex-direction: column;
}
*/
